.ChannelVideo{
    display: flex;
    align-items: center;
    max-width: 700px;
    margin-bottom: 30px;
}

.ChannelVideo > img {
    object-fit: contain;
    width: 246px;
    height: 138px;
}

.channelVideo_text {
    margin-left: 14px;
}

.ChannelVideo_description {
    margin-top: 20px;
    font-size: 12px;
    color:#606060
}

.ChannelVideo_heading {
    font-size: 12px;
    color: #606060;
}